.material-symbols-rounded {
    color: var(--font-color);

    transition: all 0.3s ease 0s;

    font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
}